/* =========================
WORKING ANIMATIONS FILE
========================= */

/* ОБЯЗАТЕЛЬНО — включает систему анимаций */
@property --animations {
syntax: 'off | on';
inherits: false;
initial-value: on;
}

/* контейнер (без него не работает) */
body {
container-name: body;
--animations: on;

```
--list-item-transition: 0.2s ease;
--dms-icon-svg-transition: 0.4s ease;
```

}

/* =========================
ОСНОВНЫЕ АНИМАЦИИ
========================= */
@container body style(--animations: on) {

```
/* элементы списков */
.wrapper__2ea32 .link__2ea32,
.container__91a9d,
.channel__972a0,
.side_aa8da2 .item_aa8da2 {
    transition: margin-left var(--list-item-transition);
    will-change: margin-left;
}

/* ВЫДВИЖЕНИЕ */
.wrapper__2ea32:hover .link__2ea32,
.side_aa8da2 .item_aa8da2:hover {
    margin-left: 10px;
}

.container__91a9d:hover,
.channel__972a0:hover {
    margin-left: 18px;
}

/* ТОЧКА НЕПРОЧИТАННОГО */
.unread__2ea32 {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    transition: var(--list-item-transition);
    will-change: margin-left;
}

.wrapper__2ea32:hover .unread__2ea32 {
    margin-left: 4px;
}

.typeThread__2ea32 .unread__2ea32 {
    margin-left: -8px;
}

.wrapper__2ea32.typeThread__2ea32:hover .unread__2ea32 {
    margin-left: 0px;
}
```

}
